.nav {
  display: flex;
  align-items: center;
  &-logo {
    font-size: 24px;
  }
  &-link {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
      background: #eee;
      color: #222;
    }
  }
}

.header {
  border: 1px solid #d3d3d3;
}
